<!--<tr>-->
  <!--<td>{{order.id}}</td>-->
  <!--<td>{{order.address}}</td>-->
  <!--<td>{{order.tel}}</td>-->
  <!--<td>{{order.name}}</td>-->
  <!--<td>{{order.courier}}</td>-->
  <!--<td>{{order.time}}</td>-->
<!--</tr>-->
<div *ngIf="order" class="order">
  <div class="details">
    <h2>Адрес: {{order.address | uppercase}}</h2>
    <p class="time"><span class="details_title">Время:</span> {{order.time}}</p>
    <p class="phone"><span class="details_title">Телефон:</span> {{order.tel}}</p>
    <p class="name"><span class="details_title">Имя:</span> {{order.name}}</p>
    <p class="water"><span class="details_title">Вода:</span> {{order.water}}</p>
    <p class="waterCount"><span class="details_title">Колличество:</span> {{order.waterCount}}</p>
    <p class="courier"><span class="details_title">Курьер:</span> {{order.courier}}</p>
  </div>
  <div class="change">
    <label><span class="change_title">Адрес:</span>
      <input [(ngModel)]="order.address" placeholder="Адрес">
    </label>
    <label><span class="change_title">Время:</span>
      <input [(ngModel)]="order.time" placeholder="Время">
    </label>
    <label><span class="change_title">Телефон:</span>
      <input [(ngModel)]="order.tel" placeholder="Телефон">
    </label>
    <label><span class="change_title">Имя:</span>
      <input [(ngModel)]="order.name" placeholder="Имя">
    </label>
    <label><span class="change_title">Вода:</span>
      <input [(ngModel)]="order.water" placeholder="Вода">
    </label>
    <label><span class="change_title">Колличество:</span>
      <input [(ngModel)]="order.waterCount" placeholder="Колличество">
    </label>
    <label><span class="change_title">Курьер:</span>
      <input [(ngModel)]="order.courier" placeholder="Курьер">
    </label>
  </div>
</div>